* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

body {
    background-color: rgb(195, 222, 237);
    color: white;
}

.box {
    width: 35em;
    height: 45em;
    margin: 2em auto;
    border-radius: 30px;
    background: #c6c6c6;
    box-shadow: 19px 19px 35px #000000, -18px -18px 35px #544a4a;
}

header {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.box h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 1rem;
    color: rgb(254, 254, 254);
    text-decoration: 5px underline ;
}

.container .task {
    margin: 3em 0 2em 3em;
    padding: .5em 4em;
    appearance: none;
    border-radius: 20px;

}

.container .add {
    font-size: 1.5rem;
    padding: .5 1em 1em;
    margin-left: 1em;
    width: 3em;
    border-radius: 2rem;
    appearance: none;
}

h2 {
    text-align: center;
    margin-bottom: .5em;
    font-size: 3em;
    color: rgb(199, 140, 241);
}
.needTodo{
    text-align: center;
}

.do input {
    margin: 1em 0 2em 1em;
    padding: .5em 4em;
    appearance: none;
    border-radius: 20px;
}

.needTodo .delete{
    font-size: 1.5rem;
    padding: .2em .2em .2em .2em;
    margin-left: 1em;
    border-radius: 2em;
    appearance: none;
   
}