
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

body{
    /* min-height: 100vh; */
    background-color: rgb(195, 222, 237);
    color: white;
}


.box{
    width: 35em;
    height: 45em;
    margin: 2em auto;
    border-radius: 30px;
    background: #c6c6c6;
    box-shadow: 19px 19px 35px #000000, -18px -18px 35px #544a4a;
}
header{
    max-width: 1000px;
    width: 100%;
     margin: auto;
} 

.box h1{
    text-align:center;
    font-size: 50px;
    padding-top: 1rem;
    color: black;
}

.container .task{
   /* margin: 40px;
   padding: ;
   appearance: none;
   border: none;
   background: none;
   border-radius: 20px; */
   margin: 3em 6em;
   

}